<div class="row">
 <div class="col-md-3">
  <img src="{{ @BASE.'/'.@devices[0].photo }}" alt="{{ @devices.device_name }}" class="img-rounded">
 </div>
 <div class="col-md-7">
  <table class="table table-condensed">
   <tr>
    <th>{{ @device_name }}</th>
    <th>{{ @serialnumber }}</th>
   </tr>
   <tr>
    <td>{{ trim(@devices[0].device_name) }}</td>
    <td>{{ trim(@devices[0].serialnumber) }}</td>
   </tr>
   <tr>
    <th>{{ @device_type }}</th>
    <th>{{ @last_check }} </th>
   </tr>
   <tr>
    <td>{{ trim(@devices[0].device_type_name) }}</td>
    <td>
        <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
            <check if="{{ @pdata.name == 'last_check' }}">
                <true>{{ @_dateformat,strtotime(@pdata.value_date) |format }}</true>           
            </check>
        </repeat>
    </td>
   </tr>
  </table>

 </div>
 <div class="col-md-2">
  <ul class="nav nav-pills nav-stacked text-center">
  <li role="presentation" class="active"><a href="{{ @BASE.'/device/restart/'.@devices[0].iddevice }}">{{ @restart_device }}</a></li>
  <li role="presentation" class="active"><a href="{{ @BASE.'/device/shutdown/'.@devices[0].iddevice }}">{{ @shutdown_device }}</a></li>
  <!-- <li role="presentation" class="active"><a href="{{ @BASE.'/device/refresh' }}">{{ @refresh_device }}</a></li> -->
  <check if="{{ @devices[0].state == 'pending' }}">
      <true>
        <li role="presentation" class="active text-capitalize"><a href="{{ @BASE.'/device/activate/'.@devices[0].iddevice }}">{{ @activate_device }}</a></li>
      </true>
  </check>
  <check if="{{ @devices[0].state == 'activated' }}">
      <true>
        <li role="presentation" class="active text-capitalize"><a href="{{ @BASE.'/device/deactivate/'.@devices[0].iddevice }}">{{ @deactivate_device }}</a></li>
      </true>     
  </check>
  </ul>
 </div>
 <p></p>
 <div class="col-md-12">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
   <li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">{{ @summary }}</a></li>
   <li role="presentation"><a href="#system_info" aria-controls="system_info" role="tab" data-toggle="tab">{{ @system_info }}</a></li>
   <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">{{ @events }}</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- summary content -->
    <div role="tabpanel" class="tab-pane active" id="summary">
     <!-- Note -->
     <div class="panel panel-primary">
      <div class="panel-heading">
       <h3 class="panel-title text-center">{{ @note }}</h3>
      </div>
      <div class="panel-body">
       {{ @devices[0].note }}
      </div>
     </div>
     <!-- Group -->
     <div class="panel panel-primary">
      <div class="panel-heading">
       <h3 class="panel-title text-center">{{ @group_assignment }}</h3>
      </div>
      <table class="table table-bordered">
       <tr>
        <th>{{ @group }}</th>
        <th>{{ @date_assigned }}</th>
       </tr>
       <repeat group="{{ @device_groups }}" value="{{ @device_group }}">
        <tr>
         <td>{{ trim(@device_group.device_group_name) }}</td>
         <td>{{ @_dateformat,strtotime(@device_group.group_date_assigned) |format }}</td>
        </tr>
       </repeat>
      </table>
     </div>
     <!-- Profile -->
     <div class="panel panel-primary">
      <div class="panel-heading">
       <h3 class="panel-title text-center">{{ @profile }}</h3>
      </div>
      <table class="table table-bordered">
       <tr>
        <th>{{ @profile }}</th>
        <th>{{ @date_assigned }}</th>
       </tr>
       <repeat group="{{ @device_profiles }}" value="{{ @device_profile }}"> 
        <tr>
         <td>{{ trim(@device_profile.profile_name) }}</td>
         <td>{{ @_dateformat,strtotime(@device_profile.modify_timestamp) |format }}</td>
        </tr>
       </repeat>
      </table>
     </div>    
    </div>
    <!-- System information content -->
    <div role="tabpanel" class="tab-pane" id="system_info">
     <table class="table table-bordered">
      <tr>
       <th>{{ @device_name }}</th>
       <td>{{ @devices[0].device_name }}</td>
      </tr>
      <tr>
       <th>{{ @device_type }}</th>
       <td>{{ @devices[0].device_type_name }}</td>
      </tr>
      <tr>
       <th>{{ @serialnumber }}</th>
       <td>{{ @devices[0].serialnumber }}</td>
      </tr>
      <tr>
       <th>{{ @mac }}</th>
       <td>{{ @devices[0].mac_address }}</td>
      </tr>
      <tr>
          <th>{{ @state }}</th>
          <td>
            <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                <check if="{{ @pdata.name == 'state' }}">
                    <true>
                        <check if="{{ @pdata.value == 'online' }}">
                            <true><span class="bg-success">{{ @pdata.value }}</span></true>
                            <false><span class="bg-danger">{{ @pdata.value }}</span></false>
                        </check>
                    </true>           
                </check>
            </repeat>
          </td>
      </tr>
      <tr>
          <th>{{ @uptime }}</th>
          <td>
              <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                  <check if="{{ @pdata.name == 'uptime' }}"> 
                      <true>{{ @pdata.value / 60 / 60 }} <span class="text-capitalize">{{ @hours }}</span></true>
                  </check>
              </repeat>
          </td>
      </tr>
      <tr>
        <th class="text-capitalize">{{ @kernel_version }}</th>
        <td>
            <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                <check if="{{ @pdata.name == 'kernel_version' }}"> 
                    <true>{{ @pdata.value }}</true>
                </check>
            </repeat>
        </td>
      </tr>
      <tr>
        <th class="text-capitalize">{{ @architecture }}</th>
        <td>
            <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                <check if="{{ @pdata.name == 'architecture' }}"> 
                    <true>{{ @pdata.value }}</true>
                </check>
            </repeat>
        </td>
      </tr>
      <tr>
        <th class="text-capitalize">{{ @cpu_family }}</th>
        <td>
            <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                <check if="{{ @pdata.name == 'cpu_family' }}"> 
                    <true>{{ @pdata.value }}</true>
                </check>
            </repeat>
        </td>
      </tr>
      <tr>
        <th class="text-capitalize">{{ @cpu_speed }}</th>
        <td>
            <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                <check if="{{ @pdata.name == 'cpu_speed' }}"> 
                    <true>{{ @pdata.value }}</true>
                </check>
            </repeat>
        </td>
      </tr>
      <tr>
        <th class="text-capitalize">{{ @cpu_cores }}</th>
        <td>
            <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                <check if="{{ @pdata.name == 'cpu_cores' }}"> 
                    <true>{{ @pdata.value }}</true>
                </check>
            </repeat>
        </td>
      </tr>
      <tr>
        <th class="text-capitalize">{{ @memory_total }}</th>
        <td>
            <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                <check if="{{ @pdata.name == 'memory_total' }}"> 
                    <true>{{ @pdata.value }} MB</true>
                </check>
            </repeat>
        </td>
      </tr>
      <tr>
        <th class="text-capitalize">{{ @memory_free }}</th>
        <td>
            <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                <check if="{{ @pdata.name == 'memory_free' }}"> 
                    <true>{{ @pdata.value }} MB</true>
                </check>
            </repeat>
        </td>
      </tr>
      <tr>
        <th class="text-capitalize">{{ @net_speed }}</th>
          <td>
              <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                  <check if="{{ @pdata.name == 'net_speed' }}"> 
                      <true>{{ @pdata.value }} Mbit/s</true>
                  </check>
              </repeat>
          </td>
      </tr>
      <tr>
        <th class="text-capitalize">{{ @ip }}</th>
          <td>
              <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                  <check if="{{ @pdata.name == 'net_ip' }}"> 
                      <true>{{ @pdata.value }}</true>
                  </check>
              </repeat>
          </td>
      </tr>
      <tr>
        <th class="text-capitalize">{{ @netmask }}</th>
          <td>
              <repeat group="{{ @device_pdata }}" value="{{ @pdata }}">
                  <check if="{{ @pdata.name == 'net_subnetmask' }}"> 
                      <true>{{ @pdata.value }}</true>
                  </check>
              </repeat>
          </td>
      </tr>
     </table>
    </div>
    <!-- Event content -->
    <div role="tabpanel" class="tab-pane" id="events">
     <table class="table table-bordered">
      <tr>
       <th>{{ @timestamp }}</th>
       <th>{{ @level }}</th>
       <th>{{ @description }}</th>
       <th>{{ @state }}</th>
      </tr>
      <repeat group="{{ @device_logs }}" value="{{ @device_log }}">
       <!-- check which state the event has -->
       <check if="{{ @device_log.status_code=='success' }}">
        <true>
         <tr class="bg-success">
        </true>
	<false>
	 <tr clasS="bg-danger">
	</false>
       </check>

        <!-- content -->
        <td>{{ @_dateformat,strtotime(@device_log.modify_timestamp) | format }}</td>
	<td>{{ @device_log.level }}</td>
        <td>{{ @device_log.text_translation }}</td>
	<td>{{ @device_log.status_code }}</td>
       </tr>
      </repeat>
     </table>
    </div>
  </div>
 </div>
</div>
