<div class="row">
 <div class="col-md-3">
  <div class="list-group">
   <p>Filter by:</p>
   <a href="{{ @BASE }}{{ 'filter_list', 'filter=all' | alias }}" class="list-group-item text-capitalize">{{ @all }}</a>
   <a href="{{ @BASE }}{{ 'filter_list', 'filter=pending' | alias }}" class="list-group-item text-capitalize">{{ @pending}}</a>
   <a href="{{ @BASE }}{{ 'filter_list', 'filter=activated' | alias }}" class="list-group-item text-capitalize">{{ @activated }}</a>
   <a href="{{ @BASE }}{{ 'filter_list', 'filter=deactivated' | alias }}" class="list-group-item text-capitalize">{{ @deactivated }}</a>
  </div>
  <div class="list-group">
   <p>Groups:</p>
   <a href="{{ @BASE }}{{ 'filter_group_list', 'filter=all,groups=all' | alias }}" class="list-group-item text-capitalize">{{ @all }}</a>
   <repeat group="{{ @devicegroups }}" value="{{ @group }}">
    <a href="#" class="list-group-item">{{ trim(@group.device_group_name) }}</a>
   </repeat>
  </div>
 </div>
 <div class="col-md-9">
  <div class="col-md-4 col-md-offset-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    <br/>
  </div>
  <table class="table table-hover table-bordered">
	<thead>
	 <tr>
	  <th scope="col">{{ @device_name }}</th>
	  <th class="text-capitalize" scope="col">{{ @state }}</th>
	  <th scope="col">{{ @mac }}</th>
	  <th class="text-capitalize" scope="col">{{ @action }}</th>
	 </tr>
	</thead>

	<tbody>
	 <repeat group="{{ @devices }}" value="{{ @device }}">
		<tr>
		 <td><a href="{{ @BASE.'/device/detail_summary/'.@device.device_name }}">{{ trim(@device.device_name) }}</a></td>
		 <td>{{ trim(@device.state) }}</td>
		 <td>{{ trim(@device.mac_address) }}</td>
		 <td><a href="{{ @BASE.'/device/update/'. @device.iddevice }}"><i class="glyphicon glyphicon-pencil"></i></a> | <a href="{{ @BASE.'/device/delete/'. @device.iddevice }}"><i class="glyphicon glyphicon-trash"></i></a></td>
		</tr>
	 </repeat>
	</tbody>
  </table>
 </div>
</div>
