<script type="text/javascript">
$(document).ready(function() {
       <repeat group="{{ @profile_assignments }}" value="{{ @profile_assignment }}">
	$('#checkbox_profile_{{ @profile_assignment.iddevice_profiles }}').prop("checked", true);
       </repeat>
});
</script>
<div class="row">
 <div class="col-md-2">
  <include href="group/group_nav.htm" />
 </div>
 <div class="col-md-offset-4 col-md-6">
  <form action="{{ @BASE.'/group/profiles' }}" method="post" class="form-horizontal">
   <repeat group="{{ @profiles }}" value="{{ @profile }}">
    <div class="form-group">
     <div class="checkbox">
      <label>
       <input type="checkbox" id="checkbox_profile_{{ @profile.iddevice_profiles }}" name="profile[]" value="{{ @profile.iddevice_profiles }}">
       {{ @profile.profile_name }}
      </label>
     </div>
    </div>
   </repeat>
 <div class="control-group">
  <div class="col-sm-offset-7 col-sm-3">
   <input type="hidden" name="update" value="update" />
   <input type="hidden" name="group_id" value="{{ @PARAMS.id }}" />
   <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ @save_changes }}</button>
  </div>
 </div>
</form>
 </div>
</div>
