<div class="row">
    <repeat group="{{ @devices_pdata }}" value="{{ @device }}">
        <div class="col-md-3">
            <check if="{{ @device.value }} == 'offline'">
                <true>
                    <div class="panel panel-danger">
                        <div class="panel-heading text-center text-capitalize">{{ @device.value }}</div>
                        <div class="panel-body text-center">
                            <check if="{{ @device.cnt_value == 0 }}">
                                <true><h2><strong>0</strong></h2></true>
                                <false><h2><strong>{{ @device.cnt_value }}</strong></h2></false>
                            </check>
                        </div>
                    </div>
                </true>
            </check>
        </div>
        <div class="col-md-3">
            <check if="{{ @device.value }} == 'online'">
                <true>
                    <div class="panel panel-success">
                        <div class="panel-heading text-center text-capitalize">{{ @device.value }}</div>
                        <div class="panel-body text-center">
                            <check if="{{ @device.cnt_value == 0 }}">
                                <true><h2><strong>0</strong></h2></true>
                                <false><h2><strong>{{ @device.cnt_value }}</strong></h2></false>
                            </check>
                        </div>
                    </div>
                </true>
            </check>
        </div>
    </repeat>
    <repeat group="{{ @devices }}" value="{{ @d_data }}">
        <div class="col-md-3">
            <check if="{{ @d_data.state }} == 'activated'">
                <true>
                    <div class="panel panel-info">
                        <div class="panel-heading text-center text-capitalize">{{ @d_data.state }}</div>
                        <div class="panel-body text-center">
                            <check if="{{ @d_data.cnt_state == 0 }}">
                                <true><h2><strong>0</strong></h2></true>
                                <false><h2><strong>{{ @d_data.cnt_state }}</strong></h2></false>
                            </check>
                        </div>
                    </div>
                </true>
            </check>
        </div>
        <div class="col-md-3">
            <check if="{{ @d_data.state }} == 'pending'">
                <true>
                    <div class="panel panel-info">
                        <div class="panel-heading text-center text-capitalize">{{ @d_data.state }}</div>
                        <div class="panel-body text-center">
                            <check if="{{ @d_data.cnt_state == 0 }}">
                                <true><h2><strong>0</strong></h2></true>
                                <false><h2><strong>{{ @d_data.cnt_state }}</strong></h2></false>
                            </check>
                        </div>
                    </div>
                </true>
            </check>
        </div>
        <div class="col-md-3">
            <check if="{{ @d_data.state }} == 'deactivated'">
                <true>
                    <div class="panel panel-info">
                        <div class="panel-heading text-center text-capitalize">{{ @d_data.state }}</div>
                        <div class="panel-body text-center">
                            <check if="{{ @d_data.cnt_state == 0 }}">
                                <true><h2><strong>0</strong></h2></true>
                                <false><h2><strong>{{ @d_data.cnt_state }}</strong></h2></false>
                            </check>
                        </div>
                    </div>
                </true>
            </check>
        </div>
    </repeat>
    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-heading text-center text-capitalize">{{ @load_server }}</div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ @current_load[2]*100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ @current_load[2]*100 }}%;">{{ @current_load[2]*100 }}%</div>    
                </div>    
            </div>
        </div>
    </div>
</div>