<div class="list-group">
 <a href="{{ @BASE.'/profile/update/'.@PARAMS.id }}" class="list-group-item">{{ @general }}</a>
 <a href="{{ @BASE.'/profile/ctx/'.@PARAMS.id }}" class="list-group-item">{{ @citrix }}</a>
 <a href="{{ @BASE.'/profile/rdp/'.@PARAMS.id }}" class="list-group-item">{{ @rdp }}</a>
 <!-- <a href="{{ @BASE.'/profile-network/'.@PARAMS.id }}" class="list-group-item">{{ @network }}</a> -->
 <a href="{{ @BASE.'/profile/security/'.@PARAMS.id }}" class="list-group-item">{{ @security }}</a>
 <a href="{{ @BASE.'/profile/system/'.@PARAMS.id }}" class="list-group-item">{{ @system }}</a>
</div>
