<div class="list-group">
 <a href="{{ @BASE.'/profile/update/'.@PARAMS.id }}" class="list-group-item text-capitalize">{{ @general }}</a>
 <a href="{{ @BASE.'/profile/session/'.@PARAMS.id }}" class="list-group-item text-capitalize">{{ @session }}</a>
 <!-- <a href="{{ @BASE.'/profile/rdp/'.@PARAMS.id }}" class="list-group-item text-capitalize">{{ @rdp }}</a> -->
 <!-- <a href="{{ @BASE.'/profile-network/'.@PARAMS.id }}" class="list-group-item">{{ @network }}</a> -->
 <a href="{{ @BASE.'/profile/security/'.@PARAMS.id }}" class="list-group-item text-capitalize">{{ @security }}</a>
 <a href="{{ @BASE.'/profile/system/'.@PARAMS.id }}" class="list-group-item text-capitalize">{{ @system }}</a>
</div>
